[tool.pyfactoring]
action = "check" # or "format", "restore"
diff = false
workers = 1
paths = [
    "pyfactoring/core",                         # folder
    "pyfactoring/utils/pyclones",               # folder
    "pyfactoring/utils/pydioms/idiomfinder.py", # file
]

# chain or chain_all option
# chain_all = true
chain = [
    "pyfactoring/pyclones",         # folder
    "pyfactoring/core/analysis.py", # file
]
pack_consts = false
exclude = [
    "test",     # folder
    "cache.py", # file
]

[tool.pyfactoring.pydioms]
enable = false
verbose = false
count = 5
length = 20

[tool.pyfactoring.pyclones]
count = 2
length = 4
template_mode = "code" # or "tree"
template_view = false