[tool.ruff]
line-length = 105
indent-width = 4
target-version = "py312"

[tool.ruff.lint]
select = [
    "I",
    "E",
    "W",
    "N",
]
ignore = ["F403", "N802"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"


[tool.pyfactoring]
action = "check"
diff = true
color = true
workers = 1
chain = []
chain_all = true
exclude = []

[tool.pyfactoring.pydioms]
count = 5
length = 10
verbose = false

[tool.pyfactoring.pyclones]
count = 0
length = 1
template_mode = "code"