[tool.ruff]
line-length = 105
indent-width = 4
target-version = "py312"

[tool.ruff.lint]
select = [
    "I",
    "E",
    "W",
    "N",
]
ignore = ["F403"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"


[tool.pyfactoring]
color = true
diff = true
typed = false

[tool.pyfactoring.pydioms]
count = 5
length = 10

[tool.pyfactoring.pyclones]
count = 0
length = 1
debug_mode = "tree"